@import "_settings.scss";

/*variables*/
%container {
	width:1200px;
	max-width:1200px;
	margin:0 auto;
	@media(max-width:1220px){
		width:92%;
		max-width:92%;
	}
	@media(max-width:992px){
		width:95%;
		max-width:95%;
	}
}
* {
	font-family: "Roboto", sans-serif;
}
html,body{
	background: #F7F5F5;
	overflow-x: hidden;
	height:100%;
}

body{
	&.lock{
		overflow:hidden;
	}
}
.content{
	min-height: 100%;
	display:flex;
	flex-direction: column;
}
.content-row{
@extend %container;
}
.desktop{
	display:flex;
}
.mobile{
	display:none;
}

.header {
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
	height: 70px;
	z-index:1;
	display:flex;
	justify-content:center;
	&.sticky{
		position: fixed;
		top: 0;
		width: 100%;
		z-index:4;
	}
	&-modal{
		display:none;
		&__fixed{
			display:flex;
			width:100%;
			height:50px;
			& .search-block{
				left:0;
				top:55px;
				height:100vh;
			}
		}
	}
	&-row{
		@extend %container;
		padding-top:15px;
		display:flex;
		position:fixed;
		height:40px;
		z-index:3;
	}
	&-block {
		&__logo{
			cursor:pointer;
			width: 81px;
			height:25px;
		}
		&__search{
			margin-left: 42px;
		}
		&__btn{
			display:flex;
			position:absolute;
			right:0;
		}

	}

	&-logo {
		margin-top:8px;
		width: 80.7px;
		height:25px;
	}

	&-search {
		width:712px;
		height:40px;
		position:relative;
		&__input {
			width: 100%;
			height: 40px;
			left: 322px;
			top: 15px;
			background: #FFFFFF;
			border: 2px solid #F00B1D;
			border-radius: 50px;
			padding-left: 26px;
			box-sizing: border-box;
			font-size: 14px;
			
			font-weight: 400;
			&::placeholder{
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				font-family:"Roboto";
				line-height: 16.41px;
				color: #ADB0B3;
			}
	

		}
		
		&__btn {
			width: 90px;
			height: 40px;
			background: linear-gradient(78.83deg, #F00B1D 0%, #FF5833 100%);
			border-radius: 0px 50px 50px 0px;
			position:absolute;
			right:0;
			font-weight:500;
			font-size:15px;
			
			color:#ffffff;
		}
	}

	&-btn {
		text-align: center;
	}
	&-basket{
		margin-left: 13px;
	}
	&-sign,&-basket {
		cursor:pointer;
		&__img {
			width:22px;
			height:22px;
		}

		&__text {
			display:block;
			margin-top:8px;
			font-size:12px;
			
			color:#262626;
			font-weight:500;
		}
}
}

.search-block {
	display:none;
	background:#ffffff;
	width:622px;
	height:300px;
	position:absolute;
	z-index:2;
	left:122px;
	top:70px;
	box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
	border-radius: 0px 0px 10px 10px;
	box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.15),
	2px 1px 2px rgba(0, 0, 0, 0.15);
    &.active{
		display:block;
	}
	&__list {
		width:100%;
	}

	&__link {
		width:100%;
		height:30px;
		display: flex;
		align-items: center;
		cursor:pointer;
		&.active{
			background:#f5f5f5;
		}
		&:hover{
			background: #f5f5f5;
		}
	}
}

.wrapper {
	position:relative;
	display: flex;
    width:100%;
	margin-top:20px;
	&-slider {
		width: 936px;
		height: 320px;
		border-radius: 10px;
	}

}
.slider-text{
	font-weight: 700;
	font-size:20px;
	
	text-transform: uppercase;
	line-height:23.44px;
}
.sidebar {
	width:244px;
	height: 320px;
	background: #FFFFFF;
	box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.6);
	border-radius: 10px;
	padding:20px;
	padding-top:14px;
	box-sizing:border-box;
	&-title {
		color: #262626;
		font-size:16px;
		
		font-weight:500;
		line-height: 18.75px;
		
	}

	&-list {
		border-top: 1px solid #E6E0E0;
		box-sizing: border-box;
		padding-top: 11px;
		margin-top: 13px;
	}

	&-link {
		font-weight: 400;
		font-size: 14px;
		
		line-height:16.41px;
		margin-bottom:8px;
		color:#262626;
		position:relative;
		&__svg{
			width:6px;
			height:7.97px;
			position:absolute;
			right:0;
			top:5px;
		}
		&:hover{
			color:#FF5833;
			cursor:pointer;
		}
		&:hover &__path{
			fill:red;
		}
	}

}
.free{
	width: 224px;
	height: 320px;
	padding:20px;
	box-sizing:border-box;
	box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.6);
	border-radius: 10px;
	background:#ffffff;
	&-title {
		font-weight: 500;
		font-size: 16px;
		
		line-height: 18.75px;
		color:#262626;
		
	}
	&-line{
		width: 100%;
		background:#E6E0E0;
		height:1px;
		margin-top:13px;
	}

}

.swiper-slide{
	background:linear-gradient(78.83deg, #D16971 0%, #E38875 100%);
	display: flex;
	color:#ffffff;
	align-items:center;
	justify-content:center;
	font-size:22px;
	
	cursor:pointer;
}
.wrapper-slider{
	margin-left:20px;
	border-radius: 10px;
	box-shadow: 0 0 2px rgba(204, 204, 204, 0.6);
		&:hover .swiper-button-next,
		&:hover .swiper-button-prev{
			opacity:1;
		}
}
.swiper-scrollbar{
	display:none;
}

.swiper-button-next,.swiper-button-prev{
	color: #F7F5F5;
	font-weight: bold;
	opacity:0;
	transition: all 0.3s ease;
	width: 55px;
	height: 100%;
	top: 0;
	right: 0;
}
.swiper-button-prev{
	left:0;
}
.swiper-button-next{
	right:0;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after{
	font-size:0;
}
.swiper-button-prev:after,.swiper-button-next:after{
	
	width:11px;
	height:19.38px;
	position:absolute;
	filter: drop-shadow(0 0 2px rgba(64, 64, 64, .25));
}
.swiper-button-prev:after{
	content: url("../img/icons/slider-left.svg");
	left: 20px;
}
.swiper-button-next:after {
	content: url("../img/icons/slider-right.svg");
	right: 20px;
}
.swiper-button-prev,.swiper-button-next{
	margin:0;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
	bottom:18px;
}

.swiper-pagination-bullet{
	background:rgba(247, 245, 245, 1)!important;
	filter: drop-shadow(0 0 2px rgba(64, 64, 64, .25));
	width:8px;
	height:8px;
	opacity:1;
	&-active{
		border: 2px solid rgba(247, 245, 245, 1);
		background:none!important;
		width:8px;
		height:8px;
		box-sizing: border-box;
	}
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2.5px);
}


/*Home navigation*/
.navigation {
	display:none;
	justify-content:center;
	width:100%;
	margin:10px 0 10px 0;
	&-block{
		width:67px;
		margin-right:13px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__bg{
			width:50px;
			height:50px;
			background: linear-gradient(78.83deg, #F00B1D 0%, #FF5833 100%);
			border-radius:50%;
			align-items: center;
			display: flex;
			justify-content: center;
		}
		&__icon{
			width:22px;
			height:22px;
		}
		&__text{
			font-weight:400;
			font-size:12px;
			line-height:14.06px;
			display:block;
			text-align:center;
			margin-top:5px;
		}
	}
}

/*Home Products*/
.products {
	@extend %container;
	display:flex;
	border-radius:10px;
	margin-top:20px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 0px rgba(204, 204, 204, 0.6);
	&-left{
		width:244px;
		height:244px;
		padding:20px 40px 20px 20px;
		box-sizing:border-box;
		border-radius: 10px 0px 0px 10px;
		&__jars{
			background: #F2DED2;
		}
		&__bottles{
			background:url("../img/bottles.png");
			background-size:100% 100%;
			background-repeat:no-repeat;
		}
		&__decanter{
			background: #DAF2D2;
		}
		&__caps{
			background:#D2D9F2;
		}
		&__equipment{
			background:#F2F1D2;
		}
		&__title{
			font-size:20px;
			
			line-height:23.44px;
			font-weight:500;
			
			color:#262626;
		}
		&__btn{
			background: linear-gradient(to right, #FF3343 0%, #FF6D4D 100%);
			cursor:pointer;
			width:110px;
			height:30px;
			display:flex;
			align-items:center;
			justify-content: center;
			font-weight:600;
			font-size:14px;
			
			line-height:16.41px;
			color:#ffffff;
			border-radius:6px;
			margin-top:8px;
		}
	}

	&-right{
		flex-wrap:wrap;
		width: 956px;
		border-radius: 0 10px 10px 0;
		overflow: hidden;
	}

	&-block{
		border-left: 1px solid #E5E0E0;
		width:25%;
		box-sizing:border-box;
		height:auto;
		padding:14px 9.5px 10.5px 20px;
		position:relative;
		background:#ffffff;
		height:50%;
		overflow:hidden;
		&:nth-child(4n+4){
			border-radius: 0 10px 10px 0px;
		}
		&:nth-child(-n+4){
			border-bottom: 1px solid #E5E0E0;
		}
		&:nth-child(1),&:nth-child(5){
			border-left: 0;
		}
		&:nth-child(4){
			border-radius:0 10px 0 0;
		}
		&:nth-child(8){
			border-radius:0 0 10px 0;
		}
		&__path{
			clip-path:polygon(0 0, 70% 0%, 100% 0, 100% 26%, 51% 25%, 51% 100%, 0 100%, 0% 30%);
			width:100%;
			height:100%;
			background:none;
		}				
		&__text{
			font-size: 14px;
			
			line-height: 18.75px;
			font-weight:500;
			/*
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			word-wrap: break-word;
			*/
			color:#262626;
		}

		&__img{
			position:absolute;
			right: 9.5px;
			bottom: 10.5px;
			max-width:103px;
			max-height:70px;
		}
	}
		}

	.jars{
		position:relative;
		& &-right{
			width: 956px;
			min-width:956px;
			overflow-x:scroll;
			overflow-y:hidden;
			border-radius: 0 10px 10px 0;
			background:#ffffff;
			box-sizing:border-box;
			padding:0 15px 0 0;
			position:relative;
			&::-webkit-scrollbar {
				display: none;
			}

			
		}
		&-shadow__right{
			position:absolute;
			background:linear-gradient(270deg, #FFFFFF 4.17%, rgba(255, 255, 255, 0) 100%);
			display:block;
			position:absolute;
			right:0;
			width: 91px;
			height: 240px;
			z-index:2;
			border-radius:0 10px 10px 0;
			transition:all 0.3s ease;
		}

		&-block{
			z-index:1;
			width:155px;
			min-width:155px;
			box-sizing:border-box;
			height:auto;
			position:relative;
			background:#ffffff;
			margin:15px 0 0 15px;
			&__title,&__price,&__description,&__pcs{
				font-size: 14px;
				line-height: 16.41px;
				font-weight:400;
				color: #404040;
			}
			&__title{
				margin-top:6px;
				display:block;
			}
			&__price{
				line-height:18.75px;
				font-weight:600;
				font-size:16px;
				color:#262626;
				display:block;
			}
			&__description{
				color:#999999;
				&:first-letter{
					text-transform:uppercase;
					display:inline-block;
				}
			}
			&__mobile{
				display:none;
			}
			&__pcs{
			}

			&__img{
				width:155px;
				height:155px;
			}
		}
	}




/*
***
**
Categories
**
***
*/
.breadcrumb{
	@extend %container;
	margin-top:18px;
	margin-bottom:18px;
	&-list{
		display:flex;
		width:100%;
	}
	&-link{
		color:#808080;
		font-size:12px;
		
		font-weight:500;
		line-height:14.06px;
		
		padding:0 2px;
		cursor:pointer;
		&:nth-child(1):before{
			content:"";
			width:0;
			height:0;
		}
		&:before{
			content:"/";
			color:#808080;
			margin-right:4px;

		}
	}
}
.categories-sidebar {
	width:244px;
	height:auto;
	background:#fff;
	padding:14px 20px 20px 20px;
	box-sizing: border-box;
	box-shadow: 0 0 2px rgba(204, 204, 204, 0.6);
	border-radius:10px;
	&__title{
		color:#262626;
		font-size:16px;
		
		font-weight:500;
		line-height:18.75px;
		
	}
	&__menu{
		border-top:1px solid #E5E0E0;
		padding-top:7px;
		margin-top:13px;
		width:204px;
	}
	&__link{
		font-size: 14px;
		
		line-height: 16px;
		padding-bottom:8px;
		cursor:pointer;
		font-weight:400;
		&.active{
			background:#FF5833;
			height:24px;
			width:224px;
			border-radius:5px;
			color:#ffffff;
			align-items: center;
			display: flex;
			margin-left:-10px;
			box-sizing: border-box;
			padding:4px 0 4px 10px;
			margin-bottom:4px;
			&:hover{
			color:#ffffff;
			}
		}
		&:hover{
			color:#FF5833;
		}

	

	}
}
.filter {
	&-list{
		display:block;
		&.hide{
			display:none;
		}
	}
	&-title {
		display:block;
		color:#262626;
		font-size:16px;
		
		font-weight:500;
		line-height:18.75px;
		position:relative;
		width:100%;
		border-bottom:1px solid #E5E0E0;
		box-sizing:border-box;
		padding-bottom:10px;
		margin:31px 0 11px 0;
		cursor:pointer;
		&.hide:after{
			content: url("../img/icons/filter-title.svg");
		}
		&:after{
			content: url("../img/icons/filter-title-hide.svg");
			width:4.6px;
			height:7.97px;
			position:relative;
			top:-1.5px;
			margin-left:26px;
		}	
		&:checked {
			display:none;
		}
	}
	
	&-btn{
		background:#FF5833;
		width:204px;
		height:40px;
		border-radius:8px;
		color:#ffffff;
		font-weight:600;
		margin-top:30px;
		transition:all 0.3s easy;
		&:hover{
			background:#f25430;
		}
	}
}
   /* для элемента input c type="checkbox" */
   .custom-checkbox {
   	position: absolute;
   	z-index: -1;
   	opacity: 0;
	cursor:pointer;
   }

   /* для элемента label, связанного с .custom-checkbox */
   .custom-checkbox+label {
   	display: inline-flex;
   	align-items: center;
   	user-select: none;
	cursor:pointer;
	margin-bottom: 10px;
	color:#262626;
	font-weight: 400;
	font-size:14px;
	
	line-height:16.41px;
	position:relative;
   }

   /* создание в label псевдоэлемента before со следующими стилями */
   .custom-checkbox+label::before {
   	content: '';
   	display: inline-block;
   	width: 14px;
   	height: 14px;
   	flex-shrink: 0;
   	flex-grow: 0;
   	border: 2px solid #E5E0E0;
   	border-radius: 3px;
   	margin-right: 0.5em;
   	background-repeat: no-repeat;
   	background-position: center center;
   	background-size: 50% 50%;
	box-sizing:border-box;
	curspor:pointer;
   }
  

   /* стили при наведении курсора на checkbox */
   .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
   }

   /* стили для активного чекбокса (при нажатии на него) */
   .custom-checkbox:not(:disabled):active+label::before {
   
   }

   /* стили для чекбокса, находящегося в фокусе */
   .custom-checkbox:focus+label::before {
   }

   /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
   .custom-checkbox:focus:not(:checked)+label::before {
   }

   /* стили для чекбокса, находящегося в состоянии checked */
   .custom-checkbox:checked+label::before {
  	 	border-color: #FF5833;
 	  	background-color: #FF5833;
}
   .custom-checkbox:checked+label::after {
		content: "";
		display: inline-block;
		position: absolute;
		width: 9.32px;
		height: 7.07px;
		left: 2.2px;
		top:4.95px;
		background: url(../img/icons/checkbox-checked.svg);
		background-size: 100%;
		cursor:pointer;
	}

.applyied {
	width:936px;
	margin-left:20px;
}

.categories-applyied {
	padding:18px 11px 14px 15px;
	box-sizing: border-box;
	display:inline-flex;
	width:100%;
	&__btn,&__clear{
		height: 24px;
		border-radius:50px;
		font-size:14px;
		
		display:flex;
		align-items:center;
		padding-left:9px;
		box-sizing: border-box;
		position:relative;
		&:after{
			margin-left:7.17px;
			width:11.65px;
			height:11.65px;
			position:absolute;
			top:6.18px;
			right:6.17px;
		}
	}
	&__btn{
		width:96px;
		height:24px;
		background-color:#FF5833;
		color: #ffffff;
		margin-right:10px;
		font-weight: 400;
		font-size:14px;
		&:after{
			content: url("../img/icons/close.svg");
		}
	}
	&__clear{
		width:123px;
		background-color:#E5E0E0;
		color:#262626;
		font-weight:400;
		font-family:"Roboto";
		font-size:14px;
		&:after{
			content:url("../img/icons/clear-close.svg");
		}
	}
}

.categories-select {
	margin-left:auto;
	margin-right:15px;
	width: 180px;
	height:30px;	
	border:2px solid #808080;
	padding:1px;
	border-radius:5px;
	position:relative;
	color:#404040;
	font-size:14px;
	
	box-sizing:border-box;
	margin-top:-2px;
	& select{
		padding: 0 0 0 5px;
		-moz-appearance: none;
		-webkit-appearance: none;
		z-index: 2;
		width:100%;
		height:100%;
		font-size:14px;
		
		font-weight: 400;
		line-height:16.41px;
		color:#404040;
		&::-ms-expand {
			display: none;
		}
	}
	&:after {
		content:"";
		display:inline-block;
		position: absolute;
		right: 0;
		width: 12px;
		height: 8px;
		z-index:1;
		right:7px;
		pointer-events: none;
		box-sizing: border-box;
		top:9px;
		background: url(../img/icons/arrow-down.svg);
		background-size: 100% 100%;
	}
	&__option{
		padding:20px;
	}
}

.categories {
	height:1635px;
	margin-top:20px;
	background:#ffffff;
	box-shadow: 0 0 2px rgba(204, 204, 204, 0.6);
	border-radius:10px;

& .list .product {
	display:flex;
	border-bottom: 1px solid #E5E0E0;
	cursor:pointer;
	&-left {
		width:180px;
		height:180px;
		height:auto;
		margin-left:10px;
		&__img {
			margin: 10px 0 10.5px 0;
			width:180px;
			height:180px;
		}
	}

	&-center {
		width: 467px;
		padding:10px 0 0 0;
		margin-left:19px;
		box-sizing:border-box;
		position:relative;
		&__title {
			display:block;
			font-size:18px;
			
			font-weight:700;
			line-height:19.8px;
			color:#186DBC;
			margin-bottom:7px;
			margin-top:4px;
		}

		&__text {
			color:#999999;
			font-size:16px;
			line-height:18.75px;
			font-weight:500;
			font-family:"Roboto";
		}
		&__mark{
			color:#262626;
			font-weight:600;
		}


		&__description {
			float:left;
			position:relative;
			top:6px;
			font-size:14px;
			
			font-weight:500;
			line-height:16.41px;
			color:#999999;
		}
	}
	&-right {
		width:230px;
		margin-left:30px;
		padding-top: 10px;
		position:relative;
		box-sizing: border-box;
		display:flex;
		flex-wrap:wrap;
		justify-content: left;
		position:relative;
		&__title {
			font-size:14px;
			
			line-height:16.41px;
			font-weight:500;
			color:#262626;
			margin-top:7px;
			width:100%;
		}
		
	}
		&-call ,&-chat{
			color:#ffffff;
			border-radius:5px;
			position:relative;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing:border-box;
			font-size: 14px;
			position: absolute;
			bottom: 20px;
			&__text{
				font-size:14px;
				font-family:"Roboto";
				font-weight:500;
			}
			&:before{
				content: url("../img/icons/btn-call.svg");
				display:inline-block;
				position:relative;
			}
		}
		&-call{
			background:linear-gradient( #6BBC38 0% #7BD941  100%);			
			width: 120px;
			height:35px;
			&:before{
				content: url("../img/icons/btn-call.svg");
				width: 9.33px;
					height: 17.5px;
					margin-right: 7.33px;
			}
			&:hover{
				background: linear-gradient(#66b335 0% #75ce3e 100%);
			}
		}

		&-chat {
			width:78px;
			height:35px;
			position:relative;
			border-radius: 5px;
			background:#fff;
			background: linear-gradient(#F00B1D 0%, #FF5833 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			position: absolute;
			bottom: 20px;
			right:20px;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 5px;
				padding: 2px;
				background: linear-gradient(#F00B1D 0%,#FF5833 100%);
				-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}
			&:before{
				content:url("../img/icons/btn-message.svg");
				width:18px;
				height:18px;
				margin-right:3.5px;				
			}

		}
}
& .gallery{
	padding:15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
& .gallery .product{
	width:216px;
	margin-bottom:30px;
	height:303px;
	position:relative;
	&__img {
		width:100%;
		height:216px;
	}
	
	&-title {
		font-family:"Roboto";
		font-weight:400;
		font-size:14px;
		line-height:16.41px;
		color:#404040;
		display:block;
		margin-top:12px;
		text-overflow:ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	
	&-pcs {
		font-family:"Roboto";
		font-weight:600;
		font-size:16px;
		line-height:18.75px;
		color:#404040;
		display:block;	
		position:absolute;
		bottom:20px;
	}
	
	&-order{
		font-family:"Roboto";
		font-weight:400;
		font-size:14px;
		line-height:16.41px;
		color:#999999;
		display:block;
		position:absolute;
		bottom:0;
		&__pcs{
			color:#404040;
		}
	}
}
}

/*
***
Product
***
*/
.wrapper-product{
	background:#ffffff;
	width:100%;
	max-width:100%;
	height:800px;
}
.card{
	@extend %container;
}
.product .swiper-slide{
	width:61px!important;
	height:62px;
	margin-left:9px;
	border:1px solid #CCCCCC;
	border-radius:6px;
	box-sizing:border-box;
	&:first-child{
		margin-left:0;
	}
}
.card .product{
	padding-top:20px;
	display:flex;
	&-left{
		width: 346px;
		height:422px;
		&__img{
			width:100%;
			height:346px;
			margin-bottom:14px;
		}
	}
	&-slider{
		width:346px;
		height:62px;
		position:relative;
		&__img{
			width:61px;
			height:61px;
		}
	}

	.product-center{
		width:590px;
		margin-top:6px;
		margin-left:20px;
	}
	.product-center__block {
		width:100%;
		height:70px;
		border-radius:10px;
		background:rgba(242, 240, 240, 1);
		display:flex;
		margin-top:16px;
	}
	.product-center__title{
		color:#262626;
		font-size:18px;
		font-weight:700;
		line-height:21.09px;
		font-family:"Roboto";
	}

	.product-block {
		height:50px;
		width:25%;
		display:flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		flex-wrap:wrap;
		margin-top:10px;
		box-sizing: border-box;
		border-right:1px solid #d9d9d9;
		&:last-child{
			border:0;
		}
		&__price{
			display:block;
			width:100%;
			font-weight: 700;
			font-size:18px;
			line-height:21.09px;
			font-family:"Roboto";
			color:#B2242F;
		}
		&__count,&__text{
			font-weight:400;
			font-size:12px;
			line-height:14.06px;
			font-family:"Roboto";
		}
		&__count{
			color:#262626;

		}
		&__text{
			color: #8C8C8C;
			margin-left:4px;
		}
	}

	&-rectangle{
		margin-top:20px;
		&__block{
			background:#d9d9d9;
			height:20px;
			margin-bottom:10px;
		}
		&__block:nth-child(1){
			width:200px;
		}
		&__block:nth-child(2){
			width:354px;
		}
		&__block:nth-child(3){
			width:275px;
		}
		&__block:nth-child(4){
			width:118px;
		}
		&__block:nth-child(5){
			width:200px;
		}
		&__block:nth-child(6){
			width:250px;
		}
		&__block:nth-child(7){
			width:310px;
		}
		&__block:nth-child(8){
			width:150px;
		}
		&__block:nth-child(9){
			width:330px;
		}
	}

	.product-right {

	}
	.product-owner {
		width:224px;
		height:226px;
		background:#F2F0F0;
		border-radius:10px;
		margin-left:20px;
		padding:15px 20px 10px 20px;
		&__title{
			line-height:16.41px;
			display:block;
			font-family:"Roboto";
			font-size:14px;
			font-weight:500;
			margin-bottom:7px;
			color:#262626;
		}
		&__flag{
			width:20px;
			height:14px;
		}
		&__address{
			color:#8C8C8C;
			font-size:12px;
			line-height:14px;
			font-weight:500;
			margin-left:4px;
		}
		&__call{

		}
		&__chat{

		}
	}


	.schedule {
	}
	.schedule__text {
	}

}


	.product-swiper{
		overflow:hidden;
		&:hover &__button-prev,&:hover &__button-next {
			opacity: 1;
		}
	}
	.product-swiper__button-prev,.product-swiper__button-next{
		width: 20px;
		height:62px;
		background:rgba(0, 0, 0, 0.5);
		position:absolute;
		z-index:2;
		opacity: 0;
		top:0;
		transition: all 0.3s ease;
		cursor:pointer;
		&:after{
			content:"";
			position: relative;
			display:inline-block;
			width: 6px;
			height: 10px;
			margin-left: 7px;
			margin-top:26px;
		}
	}
	.product-swiper__button-next{
		right:0;
	}
	
	.product-swiper__button-prev:after{
		background: url("../img/icons/slider-left.svg");
		background-size: 100%;
	}
	.product-swiper__button-next:after{
		background: url("../img/icons/slider-right.svg");
		background-size: 100%;
	}

/*
***
Search-result
***
*/
.applyied {
	&-block{
		border-bottom: 1px solid #E5E0E0;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 2px rgba(204, 204, 204, 0.6);
		box-sizing:border-box;
	}
	&-result{
		padding: 10px 15px 10.5px 15px;
		border-bottom:1px solid #E5E0E0;
	}
	&-btn {
		margin-right:15px;
		width:110px;
		height:32px;
		background:#ffffff;
		transition:all 0.3s ease;
		border-radius: 8px;
		&.active ,&:hover{
			background: linear-gradient(#F00B1D 0, #FF5833 100%);
		}
		&:hover &__text ,&.active &__text{
			color:#ffffff;
		}
		&__text{
			color: #262626;
			font-size:16px;
			line-height:18.75px;
			font-family:"Roboto";
			font-weight:500;
		}
	}

	&-text{
		font-weight:500;
		font-size:14px;
		line-height:16.41px;
		font-family:"Roboto";
		color: #262626;
		margin:8px 0 0 0;
		float:right;
		&__orange{
			background:linear-gradient(#F00B1D 0, #FF5833 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.sorting{
	display:flex;
	margin-right:10px;
	&-icon{
		width:26px;
		height:26px;
		cursor:pointer;
		&:first-child{
			margin-right:10px;
		}
		& rect{
			fill:#E5E0E0;
		}
		&.active rect,&:hover rect{
			fill:#FF5833;
		}
	}
}

/*
**
***
Search-result
***
**
*/
.salesman {
	display:flex;
	border-bottom:1px solid #E5E0E0;
	&-left{
		width:40%;
		padding:15px 62px 15.5px 15px;
		&__block{
			display:flex;
			flex-wrap:wrap;
			margin-top:2px;
		}
		&__icon{
			border-radius:50%;
			width:40px;
			height:40px;
		}
		&__info{
			display:flex;
		}
		&__title{
			font-family:"Roboto";
			font-weight:700;
			font-size:18px;
			line-height:19.8px;
			color:#186DBC;
			display:-webkit-box;
			margin:10px 0 0 9px;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			width:100%;
			word-wrap: break-word;
			height:20px;
		}
		&__text{
			background-color:#D9D9D9;
			height:15px;
			margin:0 0 6px 0;
			display:block;
			&:nth-child(1){
				width:210px;
				margin-top:10px;
			}
			&:nth-child(2){
				width:280px;
			}
			&:nth-child(3){
				width:400px;
			}	
			&:nth-child(4){
				width:140px;
			}		
		}
	}
		&-call{
			background:linear-gradient( #6BBC38 0% #7BD941  100%);			
			width: 120px;
			height:35px;
			display:flex;
			justify-content:center;
			border-radius:5px;
			&:before{
				content: url("../img/icons/btn-call.svg");
				width: 9.33px;
				height: 17.5px;
				margin:9px 7.33px 0 0;

			}
			&:hover{
				background: linear-gradient(#66b335 0% #75ce3e 100%);
			}
			&__text {
				color: #ffffff;
				font-size: 14px;
				
				font-weight: 500;
				line-height: 16.41px;
				margin-top:9.75px;
			}
		}

		&-chat {
			width:154px;
			height:35px;
			margin-left:12px;
			position:relative;
			border-radius: 5px;
			background:#fff;
			background: linear-gradient(#F00B1D 0%, #FF5833 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			display:flex;
			justify-content:center;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 5px;
				padding: 2px;
				background: linear-gradient(#F00B1D 0%,#FF5833 100%);
				-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}

			&:before{
				content:url("../img/icons/btn-message.svg");
				width:18px;
				height:18px;
				margin:8.5px 7.5px 0 0;				
			}

			&__text{
				font-family:"Roboto";
				font-weight:600;
				font-size:400;
				line-height:16.41px;
				background: linear-gradient(#F00B1D 0, #FF5833 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin:9px 0 0 0;
			}
		}

	&-right{
		width:60%;
		padding:15px 15px 15.5px 0;
		display:flex;
		flex-wrap:wrap;
		justify-content:end;
	}
	&-right &-product{
		width:135px;
		margin-left:20px;
		&__img{
			width:100%;
			height:135px;
		}
		&__title{
			font-family:"Roboto";
			font-weight:400;
			line-height:14.06px;
			font-size:12px;
			display:-webkit-box;
			color:#404040;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				width: 100%;
				word-wrap: break-word;
				height: 28px;
		}
		&__title{
			margin-top:10px;
		}

	}
	

}



/*
**
***
Banner
***
**
*/

.company .sidebar{
	padding:0;
	height:214px;
	position:sticky;
	top:90px;
}
.company .sidebar-list{
	border:0;
	padding:0;
	margin-top:10px;
}
.company .sidebar-link{
	height:26px;
	width:100%;
	padding-left: 14px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
	&:hover{
		color:#0A8745;
		&:after{
			content:"";
			display:block;
			position:absolute;
			left:0;
			top:0;
			width:2px;
			height:26px;
			background-color:#0A8745;
		}
	}
	
}
.company .wrapper-slider{
	width:100%;
	margin-top:16px;
	height:504px;
}
.company-description{
	width:936px;
	background:#ffffff;
	margin-left:20px;
	padding:15px 20px 20px 19px;
	box-sizing:border-box;
	&__title{
		font-family:"Inter";
		font-size:18px;
		line-height:21.78px;
		font-weight:600;
		color:#0A8745;
	}
	&__text{
		font-family:"Inter";
		font-size:14px;
		line-height:16.94px;
		font-weight:400;
		color:#262626;
		margin-top:14px;
		display:block;
	}
}
.banner{
	@extend %container;
	height:380px;
	margin-top:20px;
	&-bg{
		width:100%;
		height:240px;
		background:url("../img/company/banner.png");
		background-repeat:no-repeat;
		background-size:100% 100%;
		display: flex;
		justify-content: center;
		align-items:center;
		&__img{
			width:339px;
			height:200px;
		}
	}

	&-info{
		width:100%;
		height:100px;
		background:#ffffff;
		display:flex;
		&__left{
			width:40%;
			display:flex;
		}
		&__right{
			width:60%;
		}
		&__logo{
			width: 60px;
			height:60px;
			margin:20px 0 0 20px;
		}
		&__text{
			margin:23px 0 0 20px;
		}
		&__title{
			font-family:"Roboto";
			font-weight:700;
			font-size:18px;
			line-height:21.09px;
			color:#262626;
		}
		&__description{
			width:240px;
			height:21px;
			display:block;
			background:#d9d9d9;
			margin-top:7px;
		}
	}
	&-search{
		width: 500px;
		height: 40px;
		margin-top:30px;
		float:right;
		margin-right:20px;
		position: relative;		
		&__input{
			width: 100%;
			height: 40px;
			left: 322px;
			top: 15px;
			background: #FFFFFF;
			border: 2px solid #0A8745;
			border-radius: 50px;
			padding-left: 26px;
			box-sizing: border-box;
			font-size: 14px;
			
			font-weight: 400;
	
				&::placeholder {
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					
					line-height: 16.41px;
					color: #ADB0B3;
				}			
		}
		&__btn{
			width: 90px;
			height: 40px;
			background: #0A8745;
			border-radius: 0px 50px 50px 0px;
			position: absolute;
			right: 0;
			font-weight: 500;
			font-size: 15px;
			
			color: #ffffff;
		}
	}

	&-tabs{
		background:#0A8745;
		width:100%;
		height:40px;
		&__list{
			display:flex;
		}
		&__link{
			color:#ffffff;
			font-size:14px;
			line-height:16.41px;
			font-weight:500;
			font-family:"Roboto";
			box-sizing: border-box;
			text-align:center;
			padding:11px 0 0 0;
			margin-left:29px;
			cursor:pointer;
			&.active{
				background: #086E38;
				width:107px;
				height:40px;
			}
			&:first-child{
			}
		}
	}
}

			


.footer {
	width: 100%;
	background: #F7F5F5;
	height: 90px;
	padding-top:47px;
	box-sizing:border-box;
	display: flex;
	justify-content: center;

	&-text {
		color: #262626;
		
		font-size: 12px;
		line-height: 14.52px;
		font-weight: 400;
	}
}

/*Bottom mobile menu*/
.menu {
width:100%;
position:fixed;
bottom:0;
height:56px;
box-sizing:border-box;
padding:10px 0 7px 0;
background:#ffffff;
z-index:5;
&-list {
	display:flex;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

&-link {
	width:33%;
	&.active{
		.menu-link__icon{
			fill:#404040;
		}
		.menu-link__text{
			color:#404040;
		}
	}
	&:hover{
		.menu-link__icon{
			fill:#404040;
		}
		.menu-link__text{
			color:#404040;
		}
	}
	&__icon {
		width:20px;
		height:20px;
		fill:#999999;
	}

	&__text {
		margin-top:5px;
		display:block;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #999999;
	}
}
}


/*
***
Media
***
*/
@media(max-width:1220px){
	/*Home*/
.products{
	&-block{
		&__text{
		font-size: 14px;
		line-height: 18.75px;
		font-weight:500;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		word-wrap: break-word;
		}
	
    }
}
.wrapper-sidebar{
	width:25%;
}
.wrapper-slider{
	width:75%;
}
.products-left{
	width:25%;
}
.products-right,.jars-right{
	min-width:auto;
	width:79%;
}
.jars{
	& &-right{
		min-width:auto;
		width:79%;
	}
}

}
@media(max-width:992px){
.header{
	&-search{
		width:512px;
	}
}
}
@media(max-width:768px){
	.desktop{
		display:none;
	}
	.mobile{
		display:flex;
	}
	.header{
		&-search{
			width:412px;
		}
	}
	.content-row{
		margin-bottom:10px;
		margin-top:57px;
	}
	.wrapper{
		&-sidebar{
			width:30%;
		}
		&-slider{
			width:70%;
		}
		margin-top:9px;
	}
	
	.jars{
		&-block{
			width:33%;
			display:flex;
			justify-content:center;
			&__row{
				max-width:110px;
				width:110px;
				min-width:110px;
			}
			&__img{
				width:100%;
			}
			&__title,&__price,&__description{
				float:left;
			}
		}
	}
	.products{
		&-left{
			width:30%;
			height:195px;
			&__title{
				font-size: 16px;
				line-height: 21.09px;
			}
		}
		&-right{
			width:70%;
			background:#fff;
			height:244px;
		}
		& .jars{
			&-right{
				background: #fff;
			}
			&-block{
				margin-left:0;
				&__img{
					height:120px;
				}
				&__title,&__price,&__description,&__pcs{
					font-size: 12px;
					line-height: 14.06px;
					display:inline-block;
				}
				&__price{
					display:block;
				}
				&__pcs{
					margin-left:3px;
				}
				&__desktop {
					display: none;
				}	
				&__mobile{
					display:flex;
				}
			}
		}
	}

	
}

@media(max-width:670px){
.header{
	height:56px;
	&-row{
		padding:10px 0;
		width:100%;
		max-width:100%;
	}
	&-modal{
		display:none;
		position:absolute;
		width:100%;
		height:100vh;
		background:#ffffff;
		z-index:5;
		&.active{
			display:flex;
		}
		& .search-block{
			display:block;
			border:0;
			box-shadow:none;
			overflow:scroll;
			height:100vh;
			left:0;
			top:55px;
			&__list{
				padding-bottom:100px;
			}
			&__link{
				padding-left:20px;
				box-sizing:border-box;
			}
			&__top{
				width:100%;
				display:flex;
				align-items:center;
				margin-bottom:17px;
			}
			&__bottom{
				& .search-block__link {
						height: 50.5px;
				}
			}
			& .search-unit{
				display:flex;
				&__text{
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					display: flex;
					align-items: center;
					color: #666666;
					margin:0 13px 0 20px;
				}
				&__btn{
					width: 110px;
					height: 30px;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					display: flex;
					align-items: center;
					margin-right:6px;
					color: #262626;
					justify-content:center;
					background:none;
					&.active{
						background: linear-gradient(78.83deg, #F00B1D 0%, #FF5833 100%);
						border-radius: 8px;
						color: #ffffff;
					}
				}
			}

			
		}

	}

	&-logo{
		width: 60.31px;
		height: auto;
		margin-top:0;
	}
	&-block{
		&__back{
			margin:5px 0 0 20px;
		}
		&__logo{
			margin-left:10px;
			margin-top:8px;
			width: 60.31px;
			height: 18.67px;
		}
		&__search{
			width:100%;
			margin-left: 14.69px;
			margin-right: 10px;
		}
		& .search-block{
			width:100%;
			height:100vh;
			left:0;
			&__link{
				padding-left:20px;
				border-top:1px solid #F2F2F2;
				border-bottom:1px solid #F2F2F2;
			}
		}
	}
	&-block__search{
		width:100%;
		height: 36px;
	}
	&-search{
		width:100%;
		position:relative;
		display:inline-flex;
		height:36px;
			&:before{
				content:url("../img/icons/Search.svg");
				width:16px;
				height:16px;
				position: absolute;
				top: 10px;
				left: 16px;
				z-index: 2;
			}
		&__input{
			background:#F2F2F2;
			border:0;
			height:36px;
			position:relative;
			left:0;
			top:0;
			padding-left:40px;
		}
		&__btn{
			display:none;
		}

	}
	&-block{
		&__btn{
			display:none;
		}
	}
}

.wrapper{
	&-sidebar{
	display:none;
    }
	&-slider{
		width:100%;
		height:171px;
		margin-left:0;
	}
}
.swiper-button-prev:after,
.swiper-button-next:after{
	display:none;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
	bottom:7px;
}
.slider-text{
	font-size:17px;
	line-height:16.41px;
}
.swiper-pagination-bullet{
	width:6px;
	height:6px;
}
.navigation{
	display:flex;
}
.jars-shadow__right {
	display: none;
}

.products {
	flex-wrap: wrap;
	margin-top:0;
	margin-bottom:10px;

	&-left {
		border-radius: 10px 10px 0px 0px;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		position:relative;
		padding:20px 0px 20px 18px;
		&__bottles{
			background:#A6D8D4;
		}
		&__title{
			font-size:18px;
		}
		&__btn {
			position: absolute;
			right: 24px;
			color:#666666;
			background:none;
			font-weight:400;
			width:auto;
			height:auto;
			margin:0;
			top:18px;
			&:after{
				content:url("../img/icons/right.svg");
				width:4px;
				height:6.93px;
				display:block;
				position: relative;
				right: -4px;
				top: -5px;
			}
		}
	}

	& .jars {
		flex-wrap: wrap;
		&-right{
			box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.6);
			border-radius: 0 0 10px 10px;
			width:100%;
			overflow:hidden;
			height:auto;
			padding:10px 5px 0 5px;
		}
		&-block{
			width:33%;
			min-width:33%;
			margin-bottom:7px;
			margin:0;
			&__img{
				width:110px;
				height:110px;
			}


		}
	}
}
.footer-text{
	display:none;
}
}

@media(max-width:480px){
	.products{
		& .jars{
			&-right {
				justify-content: space-around;
				flex-wrap:wrap;
			}
			&-block{
				width:30%;
				min-width:110px;
				margin:0 0 7px 0;
			}
		}
	}
}
@media(max-width:370px){
.header-modal .search-block .search-unit__btn{
	margin-left:20px;
	margin-right:0;
	width:85px;
}
	.products{
		&-left{
			&__title{
				font-size:14px;
			}
		}
		& .jars{
			&-right {
			}
			&-block{
				min-width:30%;
				&__row {
						max-width: 90px;
						width: 90px;
						min-width: 90px;
				}
				&__img{
					width:100%;
					height:90px;
				}
			}
		}
	}	
}